<!-- jquery -->
<%- js('lib/jquery/jquery.min') %>
<%- js('lib/justified-gallery/jquery.justifiedGallery.min.js') %>
<%- js('js/main') %>
<% if (page.search){ %>
<!-- search -->
  <%- js('js/search.js') %>
  <script type="text/javascript">
    var inputArea = document.querySelector("#search-input");
    var $resultArea = $("#search-result");

    inputArea.onfocus = function() {
      var search_path = "<%= config.search.path %>";
      if (search_path.length == 0) {
        search_path = "search.xml";
      }
      var path = "<%= config.root %>" + search_path;
      searchFunc(path, 'search-input', 'search-result');
    }

    inputArea.onkeydown = function(){
        if(event.keyCode==13){
            return false
        }
    }

    $resultArea.bind("DOMNodeRemoved DOMNodeInserted", function(e) {
        if (!$(e.target).text()) {
            $(".search-no-result").show(200);
        } else {
            $(".search-no-result").hide();
        }
    })
  </script>
<% } %>
<% if (theme.plugins.google_analytics){ %>
    <!-- Google Analytics -->
    <script type="text/javascript">
        (function(i,s,o,g,r,a,m) {i['GoogleAnalyticsObject']=r;i[r]=i[r]||function() {
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '<%= theme.plugins.google_analytics %>', 'auto');
        ga('send', 'pageview');
    </script>
<% } %>
<% if (theme.plugins.google_analytics_V4){ %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= theme.plugins.google_analytics_V4 %>"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%= theme.plugins.google_analytics_V4 %>');
    </script>
<% } %>
<% if (theme.plugins.disqus_shortname && is_post()){ %>
    <!-- Disqus Comments -->
    <script type="text/javascript">
        var disqus_shortname = '<%= theme.plugins.disqus_shortname %>';

        (function(){
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/<% if (page.comments){ %>embed.js<% } else { %>count.js<% } %>';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        }());
    </script>
<% } %>
